{
  email {$CADDY_ACME_EMAIL}
}

{$CADDY_DOMAIN} {
  encode zstd gzip

  header {
    -Server
    Strict-Transport-Security "max-age=31536000"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
  }

  reverse_proxy librechat:3080
}
